################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/copilot-chat/57d6068c/sessions
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/CopilotIndices/18.4.111.64248/CodeChunks.db-shm
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/FileContentIndex/145092d9-0ddd-4ebe-b49b-b735b0956a74.vsidx
*.vsidx
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/ipch/AutoPCH/d5466093643d1aea/ASTEROIDS.ipch
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/CopilotIndices/18.4.111.64248/SemanticSymbols.db-shm
*.ipch
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/.suo
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/Browse.VC.db
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/Browse.VC.db-wal
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/DocumentLayout.backup.json
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/DocumentLayout.json
/IN2026 Coursework Code/VC/Asteroids/.vs/Asteroids/v18/Upgrade.VC.txt
